.content {
    width: 30%;
    position: fixed;
}
.content--side {
    background-color: rgba(57, 32, 128, 0.5);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contente {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 320%;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

button {
    background: #EE82EE !important;
    color: black !important;
    border: none !important;
}

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
