@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../fonts/OptimusPrincepsSemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'OptimusPrincepsSemiBold';
    font-weight: bolder;
    color: black;
}